{% extends 'basesimple.html' %}

{% block mycss %}
    body {
        text-align: center;
    }
    a {
        text-decoration-line = none;
    }
    img {
        border: 1px solid black;
        box-shadow: 10px 10px 5px gray;
        width: 100px;
        margin-right: 20px;
        margin-bottom: 30px;
    }
{% endblock %}

{% block mycontent %}
<h2>원하는 상품을 클릭해 주세요!!!</h2>
<hr>
{% load static %}
<a href="../basket1/?pid=1"><img src="{% static '../static/images/1.jpg' %}"></a>
<a href="../basket1/?pid=2"><img src="{% static '../static/images/2.jpg' %}"></a>
<a href="../basket1/?pid=3"><img src="{% static '../static/images/3.jpg' %}"></a>
<a href="../basket1/?pid=4"><img src="{% static '../static/images/4.jpg' %}"></a>
<a href="../basket1/?pid=5"><img src="{% static '../static/images/5.jpg' %}"></a>
<br>
<a href="../basket1/?pid=6"><img src="{% static '../static/images/6.jpg' %}"></a>
<a href="../basket1/?pid=7"><img src="{% static '../static/images/7.jpg' %}"></a>
<a href="../basket1/?pid=8"><img src="{% static '../static/images/8.jpg' %}"></a>
<a href="../basket1/?pid=9"><img src="{% static '../static/images/9.jpg' %}"></a>
<a href="../basket1/?pid=10"><img src="{% static '../static/images/10.jpg' %}"></a>
{% endblock %}
